body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.topbar {
    font-size: 0.85rem;
    background-color: #111;
}

.topbar a:hover {
    text-decoration: underline;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: #111;
    margin: 0 10px;
    transition: 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #eefb13;
}

.badge {
    font-size: 10px;
}


.carousel-slide {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.text-box {
    max-width: 50%;
}

.small-text {
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.main-title {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
}

.product-img {
    max-width: 35%;
}

.animated-img {
    animation: floatUpDown 3s ease-in-out infinite;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff80;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    border: none;
}

.carousel-indicators .active {
    background-color: #ffffff;
}


.text-box,
.product-img img {
    opacity: 0;
}


.carousel-item.active .text-box {
    animation: slideInLeft 1s ease-in-out forwards;
}

.carousel-item.active .product-img img {
    animation: slideInRight 1s ease-in-out forwards;
}


.carousel-item:not(.active) .text-box,
.carousel-item:not(.active) .product-img img {
    animation: none;
    opacity: 0;
}


@keyframes slideInLeft {
    from {
        transform: translateX(-60px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(60px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.product-card {
    overflow: hidden;
    background-color: #fff;
    transition: 0.3s ease;
    position: relative;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.main-img,
.hover-img {
    width: 100%;
    transition: 0.3s ease;
}

.hover-img {
    opacity: 0;
    position: absolute;
}

.product-card:hover .hover-img {
    opacity: 1;
}

.product-card:hover .main-img {
    opacity: 0;
}

.quick-view {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    padding: 8px 0;
    font-size: 14px;
    text-transform: uppercase;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 2;
}

.product-card:hover .quick-view {
    transform: translateY(0%);
    opacity: 1;
}

.hover-icons {
    position: absolute;
    top: 10px;
    right: -50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 5;
}

.hover-icons i {
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hover-icons i:hover {
    background-color: #fdd835;
}

.product-card:hover .hover-icons {
    right: 10px;
    opacity: 1;
}

.rating {
    font-size: 14px;
}

.brand-logo {
    transition: transform 0.3s ease;
}

.brand-logo:hover {
    animation: shake 0.4s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-4px);
    }

    50% {
        transform: translateX(4px);
    }

    75% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Supplements Section */
.supplements-section {
    background-color: #fff;
}

.supplements-title {
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.supplements-text {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto 30px;
    line-height: 1.6;
    color: #111;
}

.shop-btn {
    background-color: #f3ff00;
    color: black;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
    font-size: 16px;
    border: none;
}

.shop-btn:hover {
    background-color: #e0ea00;
    transform: translateY(-3px);
}

.offers-section {
    padding: 60px 0;
    background-color: #fff;
}

.offer-card {
    padding: 0 15px;
}

.offer-img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}


.offer-title {
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #000;
}

.offer-btn {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s ease;
}

.offer-btn:hover {
    color: #f1ff00;
}

.offer-card:hover .offer-img {
    transform: scale(1.05);
}

.video-section {
    background-image: url('../img/videoPhoto.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-content {
    text-align: center;
    color: white;
}

.video-text {
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}

.play-btn {
    font-size: 70px;
    color: #efff00;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.play-btn:hover {
    transform: scale(1.1);
}

.features {
    background-color: #f6f6f6;
}

.feature-box {
    padding: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.feature-box:hover {
    transform: translateX(2px) rotate(1deg);
}

.feature-box i {
    color: #000;
    margin-bottom: 10px;
}

.feature-box h5 {
    font-weight: 500;
    margin-top: 10px;
}

.social-icons i {
    font-size: 18px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.social-icons i:hover {
    transform: scale(1.2);
    color: #eefb13;
}

.footer {
    background-color: #f8f8f8;
    color: #000;
    font-size: 14px;
}

.footer-icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons p {
    margin-top: 8px;
    font-weight: 500;
}

.footer a {
    text-decoration: none;
    color: #000;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons i {
    font-size: 18px;
    cursor: pointer;
}

.footer .social-icons i:hover {
    color: #eefb13;
}

.Subscribe {
    background-color: #eefb13;
}

.Subscribe:hover {
    background-color: #000;
    color: #fff;
}